[tracker]
database = phenodcc_tracker
hostname = localhost
username = SET_DATABASE_USERNAME
password = SET_DATABASE_PASSWORD

[media]
database = phenodcc_media
hostname = localhost
username = SET_DATABASE_USERNAME
password = SET_DATABASE_PASSWORD

[dirs]
originals_dir = /media/drive/src/
tiles_dir = /media/drive/tiles/

[tiling]
tile_size = 256
image_scales = 10,25,50,75,100

